---
import Root from "../layouts/root.astro";
import ArtMdx from "../Art/Art.mdx";
---

<Root title="Art | Weird Web October (Mitchell Busby)">
  <div class="smol-container">
    <ArtMdx />
  </div>
  <style is:global>
    h1,
    h2,
    p,
    li,
    a {
      font-family: system-ui, sans-serif;
    }
    .smol-container {
      width: min(100% - 3rem, var(--container-max, 60ch));
      margin-inline: auto;
    }
  </style>
  <Fragment slot="head">
    <link rel="octo:octothorpes" href="Art" />
    <link
      rel="preload"
      as="fetch"
      href="https://octothorp.es/?uri=https://mitchellbusby.github.io/wwo-24/art"
    />
    <link rel="octo:octothorpes" href="weirdweboctober" />
    <meta
      name="description"
      content="A very short meditation on my relationship to art with some minor whimsical horizontal rules"
    />
  </Fragment>
</Root>
