---
import { DailyFooter } from "../components/DailyFooter";
import { SmolDocumentStyle } from "../components/SmolDocumentStyle";
import { Timeline } from "../components/timeline/Timeline";
import Root from "../layouts/root.astro";
---

<Root>
  <h1>Programming and me: a history</h1>
  <br />
  <div>
    <Timeline />
  </div>
  <br />
  <DailyFooter day="history" />
  <SmolDocumentStyle />
  <style is:inline>
    body {
      background-color: #2c3e50;
    }
    *,
    a {
      color: white;
    }
  </style>
</Root>
