---
import RootLayout from "../layouts/root.astro";
---

<RootLayout title="Weird Web October (Mitchell Busby)">
  <Fragment slot="head">
    <style>
      h1 {
        color: orange;
      }
    </style>
  </Fragment>
  <h1>
    Hello, World! This is Mitchell's website for <a
      href="https://weirdweboctober.website/">Weird Web October</a
    >
  </h1>
  <p>
    👋 I'm doing a few challenges from Weird Web October (aiming for once a
    week) just to get the creative juices flowing. Here's mine:
  </p>
  <ul>
    <li><a href="/wwo-24/notifications">Notifications</a></li>
  </ul>
  <p>
    Also check out my pal <a href="https://by.georgie.nu/weird/"
      >Georgie's entries</a
    > - she's doing a stellar job keeping up with the daily challenges (and is way
    better than me 😂)
  </p>
</RootLayout>
