---
import RootLayout from "../layouts/root.astro";
---

<RootLayout title="Weird Web October (Mitchell Busby)">
  <Fragment slot="head">
    <style>
      h1 {
        color: orange;
      }
    </style>
  </Fragment>
  <h1>Hello, World! This is Mitchell's website for Wild Web October</h1>
</RootLayout>
