---
import RootLayout from "../layouts/root.astro";
import { Notifications as NotificationsComponent } from "../Notifications.tsx";
---

<RootLayout title="Notifications | Weird Web October (Mitchell Busby)">
  <div>
    <NotificationsComponent client:only="react" />
  </div>
  <Fragment slot="head">
    <link rel="octo:octothorpes" href="Notifications" />
    <link
      rel="preload"
      as="fetch"
      href="https://octothorp.es/?uri=https://mitchellbusby.github.io/wwo-24/notifications"
    />
    <link rel="octo:octothorpes" href="weirdweboctober" />
  </Fragment>
</RootLayout>
