---
import Root from "../layouts/root.astro";
import { RitualMap } from "../components/ritual/Ritual";
---

<!-- ideas
 
- daily rituals
- the ritual of drinking tea
???

-->
<Root title="Morning ritual">
  <div>
    <RitualMap client:only="react" />
  </div>
  <style is:inline>
    h1,
    h2,
    h3,
    p {
      font-family: system-ui, sans-serif;
      margin-top: 0;
      margin-bottom: 0;
    }
    body {
      font-size: 14px;
    }
  </style>
</Root>
